.game-container {
  background: var(--secondary-color);
  color: var(--text-color);
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
  padding: 40px 30px;
  text-align: center;
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
}

.game-container h1 {
  font-size: 28px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--background-color);
}

.create-game-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 20px);
  max-width: 400px;
}

.create-game-button {
  background: var(--accent-color);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.create-game-button:hover {
  background: var(--hover-color);
  transform: scale(1.05);
}

.record-section {
  list-style: none;
  margin: 15px 0;
  padding: 15px;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-text-color);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.game-button {
  background: var(--accent-color);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.game-button:hover {
  background: var(--hover-color);
  transform: scale(1.05);
}

.error {
  color: red;
  margin: 10px 0;
  font-weight: bold;
}  